<form
  action="<%= (typeof actionPath === 'undefined') ? '/datas' : actionPath %>"
  ,
  method="POST"
>
  <% if (typeof actionPath !== 'undefined') { %>
  <input type="hidden" name="id" value="<%= formData.id %>" />
  <% } %>

  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      value="<%= formData.title %>"
    />
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" class="form-control summernote">
      <%= formData.content %>
    </textarea>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" class="form-control">
      <option value="Ongoing">Ongoing</option>
      <option value="Finish">Finish</option>
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-dark">Submit</button>
  </div>
</form>
